body {
  margin: 0rem;
}

/* this is the responsive header */

.responsive-header {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(images/boven.jpg);
  background-size: 150%;
  filter: grayscale(20%);
  height: 50vh;
  background-size: cover;
}

.responsive-header .logo {
  display: none;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.395em;
  font-size: 1.5rem;
}

.responsive-header .logo-little {
  display: none;
  color: white;
  text-align: center;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.395em;
  font-size: 1.5rem;
}

.logo:hover {
  color: #dbc6b3;
  text-decoration: none;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.395em;
  left: 0rem;
  font-size: 1.5rem;
}
.responsive-header .small-menu {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: auto;
}

/* .responsive-header .hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
  border-radius: 6px;
  z-index: 1;
} */

/*.responsive-header .shopping {
  display: block;
  justify-content: center;
  color: white;
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  margin: auto;
}

/*desktop header */

header {
  overflow: hidden;
  background-image: url(images/boven.jpg);
  height: 70vh;
  padding-top: 1.5rem;
  width: 100vw;
  background-size: cover;
  background-position-y: -50vh;
  filter: grayscale(20%);
}

header nav ul {
  text-align: right;
  padding-top: 1rem;
  padding-right: 5rem;
}

.above {
  font-family: Barlow, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 141%;
  letter-spacing: 0.395em;
}
header a {
  position: relative;
  font-weight: 100;
  text-decoration: none;
  color: white;
  font-family: Barlow, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding-left: 4rem;
  z-index: 4;
}

.discoverButtonHelp {
  padding-left: 0%;
}

.shop {
  padding: 0rem;
  width: 100vw;
}

header ul li a {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 141%;
  letter-spacing: 0.395em;
}

header li {
  display: inline;
  padding-top: 1rem;
  z-index: 4;
}
header a:hover {
  color: #dbc6b3;
}

.item {
  position: relative;
  padding-left: 0.5rem;
  z-index: 4;
}

.contactheader {
  padding-right: 2rem;
}
.b {
  padding-left: 0rem;
  padding-right: 0rem;
}

#logo {
  text-decoration: none;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.395em;
  position: absolute;
  left: 0rem;
  font-size: 1.5rem;
}

#innershop li {
  color: white;
}

#innershop {
  display: none;
  position: absolute;
  background: rgba(000000, 000000, 000000, 0.5);
  padding-top: 9rem;
  padding-bottom: 3rem;
  margin: 0;
  overflow: hidden;
  text-align: center;
  top: -5rem;
  z-index: 1;
  width: 100vw;
  left: 0px;
}

header ul #innershop li a {
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header ul #innershop {
  padding-right: 0;
  padding-left: 0;
}
header hr {
  margin-top: 1.5rem;
  width: 80vw;
  justify-content: center;
  margin-bottom: 2rem;
}

.shop:hover #innershop {
  display: block;
}

.discover {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 0.095rem;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  background-color: rgba(000000, 000000, 000000, 0);
  border-radius: 50px;
  font-family: Barlow, sans-serif;
  font-size: 13px;
  width: 150px;
  height: 30px;
}
header div a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
header div .holiday {
  margin-top: 20vh;
}
header div .holiday p {
  color: white;
  font-size: 40px;
  font-family: trajan-pro-3, serif;
  letter-spacing: 0.095em;
  text-transform: uppercase;
}

header .discover:hover {
  color: #dbc6b3;
  border: 2px solid #dbc6b3;
}

header ul {
  position: relative;
}

@media screen and (min-width: 551px) and (max-width: 1150px) {
  header {
    display: none;
    overflow: hidden;
    background-image: url(images/boven.jpg);
    height: 40vh;
    padding-top: 1.5rem;
    width: 100vw;
    background-size: cover;
    background-position-y: -50vh;
    filter: grayscale(20%);
  }

  /* burger menu */

  #small-menu-toggle {
    display: none;
  }

  #small-menu-toggle:checked ~ .small-menu-list {
    display: flex;
  }

  .burger-img {
    margin-left: 9vw;
  }
  .burger-img:hover {
    cursor: pointer;
    margin-left: 9vw;
  }
  .small-menu-list {
    display: none;
    flex-direction: column;
    /* position: absolute; */
    position: fixed;
    background-color: #dbc6b3e5;
    padding: 30px;
    padding-left: 9vw;
    width: 100%;
    height: 32vh;
  }

  .small-menu-item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 0.395em;
  }

  /* -- */

  .responsive-header {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(images/boven.jpg);
    background-size: 150%;
    filter: grayscale(20%);
    height: 43vh;
    background-size: cover;
    margin: 0%;
    margin-bottom: 10px;
  }

  .responsive-header .logo {
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    font-size: 1.5rem;
  }

  .responsive-header .logo-little {
    display: none;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    font-size: 1.5rem;
  }

  .logo:hover {
    color: #dbc6b3;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    left: 0rem;
    font-size: 1.5rem;
  }
  .responsive-header .small-menu {
    display: block;
    position: relative;
    z-index: 1;
    /* background-color: #dbc6b3;
    background-size: cover; */
    /* user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none; */
    /* cursor: pointer;  */
    margin-left: 0%;
    padding-right: 10vw;
  }

  .responsive-header .shopping {
    display: block;
    justify-content: center;
    color: white;
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  header {
    display: none;
    overflow: hidden;
    background-image: url(images/boven.jpg);
    height: 40vh;
    padding-top: 1.5rem;
    width: 100vw;
    background-size: cover;
    background-position-y: -50vh;
    filter: grayscale(20%);
  }

  /* burger menu */
  #small-menu-toggle {
    display: none;
  }

  #small-menu-toggle:checked ~ .small-menu-list {
    display: flex;
  }

  .burger-img {
    margin-left: 9vw;
  }
  .burger-img:hover {
    cursor: pointer;
    margin-left: 9vw;
  }
  .small-menu-list {
    display: none;
    flex-direction: column;
    /* position: absolute; */
    position: fixed;
    background-color: #dbc6b3e5;
    padding: 30px;
    padding-left: 9vw;
    width: 100%;
    height: 32vh;
  }

  .small-menu-item {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Barlow, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 250%;
    letter-spacing: 0.395em;
  }
  /* -- */

  .responsive-header {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-image: url(images/boven.jpg);
    background-size: 150%;
    filter: grayscale(20%);
    height: 50vh;
    object-fit: cover;
  }

  .responsive-header .logo {
    display: none;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    font-size: 1.5rem;
  }

  .responsive-header .logo-little {
    display: block;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    font-size: 1.5rem;
  }

  .logo:hover {
    color: #dbc6b3;
    text-decoration: none;
    font-family: trajan-pro-3, serif;
    letter-spacing: 0.395em;
    left: 0rem;
    font-size: 1.5rem;
  }

  .responsive-header .small-menu {
    display: block;
    position: relative;
    z-index: 1;
    /* background-color: #dbc6b3;
    background-size: cover; */
    /* user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none; */
    /* cursor: pointer;  */
    margin-left: 0%;
    padding-right: 10vw;
  }

  .responsive-header .shopping {
    display: block;
    justify-content: center;
    color: white;
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    margin: auto;
  }
}
