.itemsshopping {
  text-decoration: none;
  color: black;
}
.itemsshopping:hover {
  text-decoration: none;
}


header {
  height: 226px;
  width: 100%;
  background-color: #00655a;
}
main {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  overflow-x: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 6 / 3;
}
.div2 {
  grid-area: 1 / 3 / 2 / 5;
}
.div3 {
  grid-area: 2 / 3 / 6 / 4;
}
.div4 {
  grid-area: 2 / 4 / 3 / 5;
}
.div5 {
  grid-area: 3 / 4 / 4 / 5;
}
.div6 {
  grid-area: 4 / 4 / 5 / 5;
}
.div7 {
  grid-area: 5 / 4 / 6 / 5;
}

.div1 {
  display: flex;
  height: 600px;
  width: 95%;
  margin-top: 30px;
  align-items: center;
  justify-content: right;
}

.photoProduct {
  display: flex;
  width: 80%;
  border-radius: 10px;
  margin: auto 5px auto auto;
}

.div2 {
  padding-top: 20px;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.headline {
  font-family: trajan-pro-3, serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.095em;
  font-style: normal;
  font-weight: normal;
  line-height: 141%;
  text-align: center;
  color: #00655a;
}

.div3 {
  width: 95%;
  min-width: 300px;
  height: 300px;
}

.price {
  font-size: 28px;
  font-family: Barlow;
  font-weight: 700;
  margin-top: 10px;
  letter-spacing: 0.095em;
}

.description {
  font-size: 16px;
  font-family: Barlow;
  color: rgb(90, 90, 90);
  line-height: 25px;
  letter-spacing: 0.095em;
}

.div4 {
  width: 90%;
  height: 50px;
  padding-left: 20px;
}

.star {
  margin-top: 0px;
  width: 20px;
  height: 20px;
  float: left;
}

.rating {
  margin-left: 120px;
  font-size: 16px;
  font-family: Barlow;
  letter-spacing: 0.095em;
}

.div5 {
  width: 90%;
  height: 100px;
  padding-left: 20px;
  margin-top: -100px;
}

/*the drop menu below was made with help of:https://www.w3schools.com/howto/howto_css_dropdown.asp
*/

.dropbtn {
  width: 250px;
  height: 50px;
  border: 1px rgb(145, 145, 145) solid;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: Barlow;
  color: rgb(43, 43, 43);
  text-align: left;
  padding-left: 15px;
  cursor: pointer;
  letter-spacing: 0.095em;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(43, 43, 43);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-family: Barlow;
  letter-spacing: 0.095em;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

/*
.chooseSize {
  width: 250px;
  height: 50px;
  border: 1px rgb(145, 145, 145) solid;
  background-color: #f5f5f5;
}

.chooseSize:hover {
  background-color: white;
  cursor: pointer;
}

.chooseSizeText {
  font-size: 16px;
  font-family: Barlow;
  color: rgb(43, 43, 43);
  padding-left: 15px;
  letter-spacing: 0.095em;
}

.sizeGuide {
  font-size: 13px;
  font-family: Barlow;
  color: black;
  text-decoration: underline;
  padding-top: 5px;
  letter-spacing: 0.095em;
}

.sizeGuide:hover {
  color: rgb(156, 156, 156);
  cursor: pointer;
}
*/

.div6 {
  width: 90%;
  height: 100px;
  padding-left: 20px;
  margin-top: -170px;
}

.square1 {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px black solid;
  float: left;
  font-size: 24px;
  font-family: Barlow;
  color: rgb(156, 156, 156);
  justify-content: center;
  align-items: center;
  letter-spacing: 0.095em;
}

.square {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border: 1px black solid;
  float: left;
  font-size: 24px;
  font-family: Barlow;
  color: rgb(156, 156, 156);
  justify-content: center;
  align-items: center;
  letter-spacing: 0.095em;
}

.square:hover {
  background-color: white;
  cursor: pointer;
}

.div7 {
  display: flex;
  width: 90%;
  height: 100px;
  padding-left: 20px;
  margin-top: -200px;
  align-items: center;
}

.otherTextAddCart {
  display: none;
}

.addCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: 1px black solid;
  font-size: 14px;
  font-family: Barlow;
  color: rgb(43, 43, 43);
  float: left;
  letter-spacing: 0.095em;
}

.addCart:hover {
  background-color: rgb(204, 187, 187);
  cursor: pointer;
}

.addCart:focus {
  border: 0px rgb(0, 0, 0) solid;
  background-color: rgb(101, 197, 101);
  color: transparent;
  animation: addCartAnimation;
  animation-duration: 0.2s;
  width: 40px;
  height: 40px;
}

.addCart:focus .iconDone {
  display: block;
}


@keyframes addCartAnimation {
  0% {
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: 1px rgb(101, 197, 101) solid;
  font-size: 14px;
  font-family: Barlow;
  color: transparent;
  float: left;
  letter-spacing: 0.095em;
  background-color: rgb(204, 187, 187);
  }

  50% {
  width: 160px;
  height: 35px;
  border-radius: 50px;
  border: 1px rgb(101, 197, 101) solid;
  font-size: 14px;
  font-family: Barlow;
  color: transparent;
  background-color: rgb(101, 197, 101);
  float: left;
  letter-spacing: 0.095em;
  }

  100% {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 5px rgb(101, 197, 101) solid;
  font-size: 14px;
  font-family: Barlow;
  color: transparent;
  float: left;
  letter-spacing: 0.095em;
  background-color: rgb(101, 197, 101);
  }
}

.iconDone {
  display: none;
  position: absolute;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  border: 1px black solid;
  font-size: 14px;
  font-family: Barlow;
  color: rgb(43, 43, 43);
  float: left;
  letter-spacing: 0.095em;
}

.addToCart:hover {
  background-color: rgb(204, 187, 187);
  cursor: pointer;
}

.cart {
  width: 40px;
  height: 40px;
  margin-left: 30px;
}

.cart:hover {
  background-color: #6caca4;
  cursor: pointer;
  border-radius: 50%;
}

.wishlist {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.wishlist:hover {
  background-color: #6caca4;
  cursor: pointer;
  border-radius: 50%;
}

.product {
  display: block;
  float: left;
  width: 300px;
  height: 400px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.product:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.likeText {
  font-family: trajan-pro-3, serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.095em;
  font-style: normal;
  font-weight: normal;
  line-height: 141%;
  color: #00655a;
  text-align: center;
  margin-top: 10px;
}

.likeProduct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.photo {
  width: 250px;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
}

.productText1 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  text-align: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.095em;
}

.productText2 {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  text-align: center;
  font-family: Barlow;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.095em;
}

.buttonBuy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border-radius: 50px;
  margin-left: 75px;
  margin-right: 75px;
  border: 1px solid black;
  font-family: Barlow;
  font-size: 13px;
  letter-spacing: 0.095em;
}

.buttonBuy:hover {
  background-color: rgb(204, 187, 187);
  cursor: pointer;
}

.div8 {
  display: none;
}

footer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  justify-items: center;
  padding-top: 90px;
  background-color: #00655a;
  color: white;
  height: 280px;
  margin: auto;
  width: 100%;
}

.newsletterText {
  font-size: 24px;
  font-weight: 600;
  font-family: Barlow;
  margin-bottom: 50px;
  letter-spacing: 0.095em;
}

.emailText {
  font-family: Barlow;
  font-size: 14px;
  color: white;
  opacity: 100%;
  padding-left: 10px;
  letter-spacing: 0.095em;
}

.email {
  width: 194px;
  height: 34px;
  left: 183px;
  top: 249px;
  background-color: #6caca4;
  border-radius: 5px;
  margin-bottom: 15px;
  align-items: center;
  display: flex;
}

.signUpText {
  font-family: Barlow;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 2.5;
  color: rgb(0, 0, 0);
  opacity: 100%;
  letter-spacing: 0.095em;
}

.signUp {
  width: 100px;
  height: 30px;
  left: 183px;
  top: 293px;
  background-color: #e0d1bb;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.signUp:hover {
  background-color: #c08f7e;
  color: white;
  cursor: pointer;
}

.footerHeader {
  font-weight: 600;
  font-family: Barlow;
  font-size: 24px;
  box-sizing: inherit;
  margin-bottom: 20px;
  letter-spacing: 0.095em;
}

.footerColumn {
  font-weight: 300;
  font-family: Barlow;
  font-size: 13px;
  list-style-type: none;
  box-sizing: inherit;
  list-style-position: outside;
  list-style-image: none;
  padding-left: 0px;
  letter-spacing: 0.095em;
}

li {
  margin-bottom: 10px;
  box-sizing: inherit;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width:650px) {

  .parent {
    display: block;
  }

  .div1 {
    width:100%;
    height: auto;
    justify-content: center;
    margin-top: 20px;
    display: block;
    margin: auto;
  }

  .photoProduct {
    margin: 20px auto auto auto;
    width: 90%;
  }

  .div2 {
    width: 100%;
    height: auto;
    text-align: left;
    margin-top: 10px;
    display: block;
  }

  .div3 {
    display: block;
    margin: 40px auto auto auto;
    width: 85%;
    height: 270px;
    padding: 0%;
  }

  .price {
    font-size: 20px;
  }

  .description {
    font-size: 13px;
  }

  .div4 {
    display: block;
    height: 50px;
    margin: auto;
  }

  .div5 {
    display: block;
    height: 60px;
    margin: auto;
  }

  .dropbtn {
    width: 250px;
    height: 30px;
    border: 1px rgb(145, 145, 145) solid;
    background-color: #f5f5f5;
    font-size: 16px;
    font-family: Barlow;
    color: rgb(43, 43, 43);
    text-align: left;
    padding-left: 15px;
    cursor: pointer;
    letter-spacing: 0.095em;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(43, 43, 43);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: Barlow;
    letter-spacing: 0.095em;
  }

  .div6 {
    display: block;
    height: 80px;
    margin: auto;
  }

  .square {
    height: 30px;
    font-size: 16px;
  }

  .square1 {
    height: 30px;
    font-size: 16px;
  }

  .div7 {
    display: block;
    height: 200px;
    margin: auto;
  }

  .likeProduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    justify-content: center;
    margin: auto auto 30px auto;
  }

  .photo {
    display: grid;
    width: 90%;
    margin: auto;
  }

  .product {
    width: 170px;
    height: 300px;
    margin: auto;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
  }

  .productText1 {
    font-size: 13px;
    margin: 20px auto 15px auto;
  }

  .productText2 {
    font-size: 12px;
    margin: 20px auto 25px auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .buttonBuy {
    margin: 10px auto auto auto;
  }

  .div8 {
    display: none;
  }

  footer {
    grid-template-columns: 3fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    height: auto;
    padding-bottom: 70px;
  }

  .footerColumn {
    display: none;
  }

  .newsletter {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footerText {
    margin: auto;
  }
}

@media screen and (min-width:650px) and (max-width:1100px) {

  .parent {
    grid-template-rows: repeat(6, auto);
    margin: auto;
    }

    .photoProduct {
      margin: 40px 5px auto auto;
    }

    .div2 {
      height: 50px;
      margin-top: 40px;
    }

    .div3 {
      grid-area: 2 / 3 / 3 / 5;
      margin-top: -50px;
      padding: 20px;
    }

    .price {
      font-size: 20px;
    }

    .description {
      display: none;
    }

    .div4 {
      grid-area: 3 / 3 / 4 / 5;
      margin-top: -330px;
    }

    .div5 {
      grid-area: 4 / 3 / 5 / 5;
      margin-top: -330px;
    }

    .dropbtn {
      width: 250px;
      height: 30px;
      border: 1px rgb(145, 145, 145) solid;
      background-color: #f5f5f5;
      font-size: 16px;
      font-family: Barlow;
      color: rgb(43, 43, 43);
      text-align: left;
      padding-left: 15px;
      cursor: pointer;
      letter-spacing: 0.095em;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      width: 250px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .dropdown-content a {
      color: rgb(43, 43, 43);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-size: 16px;
      font-family: Barlow;
      letter-spacing: 0.095em;
    }

    .div6 {
      grid-area: 5 / 3 / 6 / 5;
      margin-top: -330px;
    }

    .square {
      height: 30px;
      font-size: 16px;
    }

    .square1 {
      height: 30px;
      font-size: 16px;
    }

    .div7 {
      grid-area: 6 / 3 / 7 / 5;
      margin-top: -350px;
    }

  .cart {
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .wishlist {
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }

  .div8 {
    display: block;
    grid-area: 7 / 2 / 8 / 4;
    margin-bottom: 100px;
    margin-top: -10vh;
    font-family: barlow;
    font-size: 15px;
    letter-spacing: 0.095em;
    color: rgb(90, 90, 90);
    text-align: center;
  }

  .likeProduct {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    justify-content: center;
    margin: auto auto 50px auto;
  }

  .photo {
    display: grid;
    width: 90%;
    margin: auto;
  }

  .product {
    width: 240px;
    height: 350px;
    margin: auto;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
  }

  .productText1 {
    font-size: 13px;
    margin: 20px auto 15px auto;
  }

  .productText2 {
    font-size: 12px;
    margin: 20px auto 25px auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  .buttonBuy {
    margin: 10px auto auto auto;
  }

  footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-content: center;
    padding-top: 90px;
    background-color: #00655a;
    color: white;
    height: 280px;
    margin: auto;
    width: 100%;
  }

  .newsletterText {
    font-size: 20px;
    font-weight: 600;
    font-family: Barlow;
    margin-bottom: 50px;
    letter-spacing: 0.095em;
  }

  .emailText {
    font-family: Barlow;
    font-size: 14px;
    color: white;
    opacity: 100%;
    padding-left: 10px;
    letter-spacing: 0.095em;
  }

  .email {
    width: 194px;
    height: 34px;
    left: 183px;
    top: 249px;
    background-color: #6caca4;
    border-radius: 5px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
  }

  .signUpText {
    font-family: Barlow;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2.5;
    color: rgb(0, 0, 0);
    opacity: 100%;
    letter-spacing: 0.095em;
  }

  .signUp {
    width: 100px;
    height: 30px;
    left: 183px;
    top: 293px;
    background-color: #e0d1bb;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .signUp:hover {
    background-color: #c08f7e;
    color: white;
    cursor: pointer;
  }

  .footerText {
    width: 120px;
  }

  .footerHeader {
    font-weight: 600;
    font-family: Barlow;
    font-size: 18px;
    box-sizing: inherit;
    margin-bottom: 20px;
    letter-spacing: 0.095em;
  }

  .footerColumn {
    font-weight: 300;
    font-family: Barlow;
    font-size: 11px;
    list-style-type: none;
    box-sizing: inherit;
    list-style-position: outside;
    list-style-image: none;
    padding-left: 0px;
    letter-spacing: 0.095em;
    margin-left: 0%;
  }

  li {
    margin-bottom: 10px;
    box-sizing: inherit;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

/* some links

<a href="https://icons8.com/icon/60003/star">Star icon by Icons8</a>

<a href="https://icons8.com/icon/43866/shopping-cart">Shopping Cart icon by Icons8</a>

<a href="https://icons8.com/icon/43772/heart">Heart icon by Icons8</a>


*/
